.pointsWrapper {
    display: flex;
    font-size: 9pt;
    margin-bottom: 10px;
    color: white;
}

.itemWrapper {
    width: 400px;
    background-color: cadetblue;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}
