.deliveryPage {
    display: flex;
    padding: 10px;
}

.wrapper {
    margin-bottom: 10px;
    div {
        font-size: 10pt;
    }
}

.listItemWrapper {
    padding: 10px;
    margin-bottom: 5px;
    button {
        margin-bottom: 10px;
    }
}

h4 {
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
}

[class*="ol-map"] {
    margin: 0;
    margin-left: 20px;
    border: 1px solid;
}

.showCheckbox {
    margin-left: 20px;
    margin-top: 20px;
}
